<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/4.0.5/redux.js"></script>
</head>
<body>
    <style>
        .container{
            border:5px solid black;
            padding: 10px;
        }
    </style>
    <div id="red"></div>
    <div id="blue"></div>
    <div id="green"></div>

    <script>
        function reducer(state, action){  // state와 action의 값을 비교한다.
            console.log(state, action);
            if(state === undefined){    // state를 초기화하는 단계
                return {color: 'yellow'}
            }
            if(action.type === 'CHANGE_COLOR'){
                newState = Object.assign({}, state, {color:action.color});
                // state를 복제해서 newState에 대입한다.
            }
            console.log(action.type, action, state, newState);
            // 상태를 변경하는 것이 아니라 새로 만들어서 새로만든 상태로 대체해주는 것이기 때문에 time travling이 가능하다.
            // action이 있을 때마다 이전상태, 현재상태, action 등등을 알 수 있다.

            return newState;
        }
        var store = Redux.createStore(
            reducer,
            window.__REDUX_DEVTOOLS_EXTENSION__ && 
            window.__REDUX_DEVTOOLS_EXTENSION__()
            );
        
        function red(){
            var state = store.getState();
            document.querySelector('#red').innerHTML = `
                <div class="container" id="component_red" style="background-color:${state.color}">
                    <h1>red</h1>
                    <input type="button" value="fire"
                    onClick="
                        store.dispatch({type:'CHANGE_COLOR', color:'red'});
                    ">
                </div>
            `;
            /* 클릭하면(action) 
            store.dispatch({type:'CHANGE_COLOR', color:'red'});
            과정을 통해 dispatch에 객체를 넘겨준다. */
        }
        store.subscribe(red);
        red();

        function blue(){
            var state = store.getState();
            document.querySelector('#blue').innerHTML = `
                <div class="container" id="component_blue" style="background-color:${state.color}">
                    <h1>blue</h1>
                    <input type="button" value="fire"
                    onClick="
                        store.dispatch({type:'CHANGE_COLOR', color:'blue'});
                    ">
                </div>
            `;
        }
        store.subscribe(blue);
        blue();

        function green(){
            var state = store.getState();
            document.querySelector('#green').innerHTML = `
                <div class="container" id="component_blue" style="background-color:${state.color}">
                    <h1>green</h1>
                    <input type="button" value="fire"
                    onClick="
                        store.dispatch({type:'CHANGE_COLOR', color:'green'});
                    ">
                </div>
            `;
        }
        store.subscribe(green);
        green();

    </script>
</body>
</html>